//==============Login.vue, Registe.vue===============================
.blue{
	color: #0c5fcc;
}

.red{
	color: #ff8a02;
}

.black{
	color: #282525;
}

.alignRight{
	text-align: right;
}

.logo{
	text-align: center;
	margin-top: 2.3rem;
	.login-img{
		width: 4.75rem;
		height: 4.75rem;
	}
}

.login-info{
	margin-top: 3rem;
	.username, .password{
		margin-left: 12.5%;
		margin-top: 10px;
		width: 75%;
		border-bottom: 1px solid #eff0f1;
		padding-bottom: 10px;
	}
}

.registe-info{
	margin-top: 1.5rem;
	.phoneType, .referrer{
		padding-left: 5px;
	}
	.phoneType, .phone, .phoneCode, .password, .referrer, .email, .emailCode{
		margin-left: 12.5%;
		margin-top: 10px;
		width: 75%;
		border-bottom: 1px solid #eff0f1;
		padding-bottom: 10px;
		font-size: 0.85rem;
	}
}
.phoneCodeBtn{
	color: #0c5fcc;
	text-align: right;
}

.login-btn, .registe-btn{
	margin-top: 2rem;
	margin-left: 12.5%;
	width: 75%;
	height: 3rem;
}

.link{
	text-align: center;
	margin-top: 15px;
	.link-item, .link-line{
		font-size: 0.9rem;
		color: #0c5fcc;
	}
	.link-line{
		font-size: 1rem;
	}
}

.registe-type{
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	.registe-type-password, .registe-type-code{
		display: inline-block;
		width: 24%;
		font-size: 0.8rem;
		padding: 3px 0;
	}
	.registe-type-password{
		margin-right: 8px;
	}
	.choose{
		color: #0c5fcc;
		border-bottom: 2px solid #0c5fcc;
	}
}




//==========================Head.vue=======================
.user-header{
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
}

.header-left{
	padding-left: 10px;
	height: 2.5rem;
	.icon-left-arrow{
		font-size: 1.2rem;
	}
}

.header-right{
	text-align: right;
	color: #282525;
	height: 2.5rem;
	font-size: 0.8rem;
	.icon-jiantou{
		font-size: 0.65rem;
	}
	.language-right{
		padding-right: 10px;
	}
}
//=========================ResetPassword.vue=================
.resetPassword{
	width: 100%;
	height: 100%;
	background-color: #f5f4f7;
	.resetPassword-password, .resetPassword-phone, .resetPassword-code{
		padding: 5px 0;
		background-color: #fff;
		.resetPassword-icon{
			text-align: center;
		}
		.codeBtn{
			text-align: right;
			padding-right: 15px;
			color: #0c5fcc;
			font-size: 0.8rem;
		}
	}
	.resetPassword-phone, .resetPassword-password{
		margin-top: 10px;
		border-bottom: 1px solid #edeeee;
	}
	.resetPassword-btn{
		margin-top: 2rem;
		margin-left: 12.5%;
		width: 75%;
		height: 3rem;
	}
}
//================Setting.vue======================
.setting{
	width: 100%;
	height: 100%;
	.about, .version{
		padding: 10px;
		height: 3rem;
		background-color: #fff;
		font-size: 0.8rem;
		.content{
			text-align: right;
		}
	}
	.about{
		margin-top: 10px;
		border-bottom: 1px solid #ecedee;
	}
	.settingBtn{
		margin-top: 2.5rem;
		width: 75%;
		height: 3rem;
		margin-left: 12.5%;
	}
}
//===============PaymentMethods.vue========================
.paymentMethods{
	.alipay, .wechat{
		padding: 5px 15px;
		margin-top: 10px;
		background-color: #fff;
		.title{
			font-size: 0.85rem;
		}
	}
	.bank{
		margin-top: 10px;
		.tips{
			padding: 0 15px;
			color: #c8c7ca;
			font-size: 0.75rem;
		}
		.bankName, .cardno, .name{
			padding: 5px 15px;
			background-color: #fff;
		}
		.bankName, .cardno{
			border-bottom: 1px solid #f0f1f2;
		}
		.bankName{
			margin-top: 5px;
		}
		.name{
			margin-bottom: 5px;
		}
	}
	.botton{
		width: 75%;
		margin-left: 12.5%;
		margin-top: 2rem;
		height: 3rem;
	}
}
















