.home{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: none;
}
.home-container{
	position: absolute;
	width: 100%;
	height: calc(100vh - 43px);
	background-color: #f5f4f7;
	overflow-y: auto;
}

.home-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: none;
}

.iconfont{
	font-size: 1.2rem;
}
//================Ecolog.vue===============
.ecolog{
	width: 100%;
	.bg{
		width: 100%;
		height: 13.5rem;
	}
	.container{
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
		color: #fff;
		.ecolog-header{
			padding: 8px 15px 0 15px;
			.level{
				color: #f58723;
				font-size: 1.1rem;
			}
			.activation{
				font-size: 0.9rem;
				text-align: right;
			}
		}
		.finance{
			.totalPrice{
				margin-top: 1rem;
				text-align: center;
				font-size: 2.5rem;
			}
			.introduce{
				text-align: center;
				font-size: 0.8rem;
			}
			.btn-list{
				margin-top: 0.8rem;
				text-align: center;
				.putInBtn, .putOutBtn{
					width: 5rem;
					height: 1.8rem;
					border: none;
					border-radius: 30px;
					background-color: #2571e8;
					color: #fff;
					font-size: 0.8rem;
				}
				.putOutBtn{
					margin-left: 4rem;
				}
			}
		}
		.price{
			position: absolute;
			top: 11rem;
			margin-left: 10%;
			padding: 0 1.3rem;
			width: 80%;
			height: 3rem;
			line-height: 3rem;
			text-align: center;
			background-color: #fff;
			border-radius: 5px;
			color: #282525;
			.title{
				font-size: 1rem;
			}
			.num{
				font-size: 1.05rem;
				text-align: right;
			}
		}
		.operation{
			position: absolute;
			top: 15rem;
			width: 94%;
			margin-left: 2.5%;
			color: #282525;
			text-align: center;
		}
	}
}
.operation-item{
	display: inline-block;
	width: 47%;
	background-color: #fff;
	height: 6rem;
}

.operation-img{
	text-align: center;
	line-height: 6rem;
	img{
		width: 3rem;
		height: 3rem;
	}
}

.operation-content{
	font-size: 0.9rem;
}
//=============================Market.vue===============
.market{
	width: 100%;
}

.markey-header, .mail-header{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 0.8px solid #ebebeb;
  background-color: #fff;
  text-align: center;
  color: #282525;
  font-size: 1rem;
}

.market-item{
	margin-top: 10px;
	padding: 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #ecedee;
	font-size: 0.9rem;
	color: #282525;
	.market-name{
		text-align: right;
	}
	.market-price{
		font-size: 1rem;
		text-align: center;
	}
	.market-time{
		padding-right: 15px;
		font-size: 0.8rem;
		color: #9a9b9c;
		text-align: right;
	}
}

.rose{
	color: #eb1128;
}

.fall{
	color: #00af68;
}

//=================mail.vue==================================
.platform, .customerService{
	margin-top: 10px;
}
.announcement-item, .trade-item, .customerService-item{
	background-color: #fff;
	height: 3rem;
	.logo{
		text-align: center;
	}
	.content{
		padding-left: 5px;
	}
}

.announcement-item{
	border-bottom: 1px solid #eeeff1;
}

.icon-gonggao{
	color: #54a95d;
}

.icon-xinxi{
	color: #0340bf;
}

.icon-kefu{
	color: #fc7d00;
}
//=================User.vue=======================
.user{
	width: 100%;
	.bg{
		width: 100%;
		height: 12.5rem;
	}
	.container{
		position: absolute;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 12.5rem;
		color: #fff;
		.user-header{
			padding: 8px 15px 0 15px;
			.title{
				text-align: center;
				font-size: 1.1rem;
			}
			.set{
				text-align: right;
			}
			.icon-shezhi{
				margin-top: -3px;
				font-size: 1.8rem;
			}
		}
		.money{
			margin-top: 1rem;
			text-align: center;
			.title, .freeze{
				font-size: 0.8rem;
			}
			.balance{
				font-size: 2.5rem;
			}
		}
	}
}

.user-btn{
	margin-top: 1rem;
	text-align: center;
	.topUpBtn, .withdrawalBtn{
		width: 5rem;
		height: 1.8rem;
		border: none;
		border-radius: 30px;
		background-color: #2571e8;
		color: #fff;
		font-size: 0.8rem;
	}
	.withdrawalBtn{
		margin-left: 2rem;
	}
}

.user-operation{
	position: absolute;
	top: 13.5rem;
	width: 92.5%;
	margin-left: 2.2%;
	text-align: center;
}
.user-operation-item{
	background-color: #fff;
	height: 8rem;
	text-align: center;
	.user-operation-img{
		margin-top: 1.4rem;
		width: 3rem;
		height: 3rem;
	}
	.user-operation-content{
		margin-top: 1rem;
		text-align: center;
		font-size: 0.9rem;
	}
}
//========PutIn.vue==================
.navbar{
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-radius: 0px !important;
  background-color: #fff;
  border-bottom: 0.8px solid #ebebeb;
}
.left, .center, .right{
  color: #282525;
}

.center{
  text-align: center;
  font-size: 1rem;
}

.left{
  padding-left: 10px;
  font-size: 1.2rem;
}

.right{
  padding-right: 10px;
  text-align: right;
  font-size: 1rem;
}
.putin{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f5f4f7;
	overflow-y: auto;
	color: #000;
}
.balabce, .number, .password{
	background-color: #fff;
	padding: 5px 0;
	.title{
		font-size: 0.8rem;
		text-align: center;
	}
}
.balabce, .password{
	margin-top: 10px;
	border-bottom: 1px solid #ecedef;
}
.putIn-button{
	width: 75%;
	margin-top: 2.5rem;
	margin-left: 12.5%;
	height: 3rem;
}
//=============Putout.vue==============
.putout{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: none;
	background-color: #f5f4f7;
	color: #000;
}

.putout-list{
	position: absolute;
	width: 100%;
	height: calc(100vh - 56px);
	margin-top: 10px;
	overflow-y: auto;
}

.putout-item{
	margin-bottom: 10px;
	background-color: #fff;
}

.putout-orderId{
	padding: 5px 10px;
	border-bottom: 1px solid #ebedee;
	font-size: 0.8rem;
	color: #000;
}

.putout-container{
	padding: 5px 10px;
	font-size: 0.75rem;
}
.borderBottom{
	border-bottom: 1px solid #ebedee;
}
.item-bottom{
	font-size: 0.85rem;
	padding: 10px 10px;
}
.bottom-btn{
	text-align: right;
	button{
		padding: 3px 15px;
		font-size: 0.8rem;
		border: none;
		background-color: #2b5ecb;
		color: #fff;
		// width: 2rem;
		height: 1.5rem;
		border-radius: 30px;
	}
}

//============Topup.vue=======
.topup-title{
	margin-top: 1.5rem;
	text-align: center;
	font-size: 0.9rem;
}
.topup-address{
	margin-top: 0.9rem;
	text-align: center;
	font-size: 0.9rem;
}
.topup-button{
	margin-top: 1.2rem;
	text-align: center;
	button{
		width: 6rem;
		height: 1.8rem;
		font-size: 0.85rem;
		border: 1px solid #f5bfa6;
		background-color: #fff;
		color: #ee8500;
		border-radius: 30px;
	}
}
.putupBtn{
	width: 40%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 30%;
	height: 2rem;
}
//=======Withdrawal.vue==========
.withdrawal-list{
	padding: 5px 0;
	border-bottom: 1px solid #ecedee;
}
.withdrawal-title{
	font-size: 0.85rem;
	padding-left: 15px;
}
.withdrawal-remark{
	padding-left: 10px;
}
.withdrawal-btn{
	width: 75%;
	margin-top: 3rem;
	margin-left: 12.5%;
	height: 3rem;
}
//=============PlatformAnnouncement.vue============
.platformAnnouncement{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.platformAnnouncement-list{
	margin: 10px 0;
	padding: 0 15px;
	background-color: #fff;
}
.platformAnnouncement-title{
	padding-top: 10px;
	font-size: 0.9rem;
}
.platformAnnouncement-name{
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}
.platformAnnouncement-time{
	text-align: right;
	font-size: 0.7rem;
	color: #959697;
}
.platformAnnouncement-content{
	padding: 5px 0;
	font-size: 0.75rem;
	color: #959697;
	border-bottom: 1px solid #f5f6f7;
}
.platformAnnouncement-more{
	padding: 8px 0;
	color: #959697;
	font-size: 0.8rem;
	.icon-size{
		font-size: 0.8rem;
	}
}
.platformAnnouncement-more-icon{
	text-align: right;
}
.pop-title{
	margin-top: 10px;
	text-align: center;
	font-size: 0.95rem;
}
.pop-time{
	text-align: right;
	padding: 5px 15px;
	font-size: 0.75rem;
	color: #959697;
}
.pop-content{
	padding: 0 15px;
	font-size: 0.85rem;
	color: #545455;
}
//===========================Chat.vue=======================
.chat{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: none;
}
.chatList{
	position: absolute;
	width: 100%;
	height: calc(100vh - 91px);
	overflow-y: auto;
}
.chat-list-dialog{
	padding: 0 10px 10px 10px;
}
.time-line{
	margin: 10px 0;
	text-align: center;
	height: 1.5rem;
	line-height: 1.5rem;
	color: gray;
	font-size: 0.9rem;
}
.chatLeft{
	width: 100%;
 	margin-top: 10px;
}
.chatLeft-head{
	display: inline-block;
	vertical-align: top;
 	padding: 5px 0;
}
.chatLeft-content{
	position: relative;
	display: inline-block;
 	max-width: calc(100vw - 180px);
 	margin-left: 10px;
 	padding: 5px 5px 5px 5px;
 	border: 1px solid #fff;
 	background-color: #fff;
 	color: #000;
 	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
 	border-radius: 5px;
 	word-break: break-all;
 	word-wrap:break-word;
 	font-size: 0.9rem;
 	&:before{
 		position: absolute;
   	content: "";
   	width: 0;
   	height: 0;
   	right: 100%;
   	top: 0.5rem;
   	border-top: 5px solid transparent;
   	border-right: 10px solid #fff;
   	border-bottom: 8px solid transparent;
 	}
}
.chatRight{
	width: 100%;
	text-align: right;
 	margin-top: 10px;
}
.chatRight-head{
	display: inline-block;
	vertical-align: top;
 	padding: 5px 0;
}
.chatRight-content{
	position: relative;
	display: inline-block;
 	max-width: calc(100vw - 180px);
 	// min-height: 2rem;
 	// line-height: 2rem;
 	margin-right: 10px;
 	padding: 5px 5px 5px 5px;
 	border: 1px solid #a0e75a;
 	background-color: #a0e75a;
 	text-align: left;
 	color: #000;
 	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
 	border-radius: 5px;
 	word-break: break-all;
 	word-wrap:break-word;
 	font-size: 0.9rem;
 	&:after{
 		position: absolute;
   	content: "";
   	width: 0;
   	height: 0;
   	left: 100%;
   	top: 0.5rem;
   	border-top: 5px solid transparent;
   	border-left: 10px solid #a0e75a;
   	border-bottom: 8px solid transparent;
 	}
}
.chatInput{
	position: fixed;
	width: 100%;
	min-height: 3rem;
	z-index: 999;
	background-color: #fff;
	bottom: 0;
	.chatInput-showInput{
		height: 3rem;
		line-height: 3rem;
		input{
			display: inline-block;
			width: 67%;
			margin-left: 3%;
			margin-top: 0.5rem;
			height: 2rem;
			line-height: 2rem;
			border: none;
			border-radius: 5px;
			background-color: #dfdfdf;
			padding-left: 10px;
		}
		img{
			margin-left: 12px;
			height: 2rem;
			width: 2rem;
		}
	}
	.chatInput-moreOperation{
		border-top: 1px solid #dfdfdf;
		img{
			width: 16%;
			margin: 15px 0 15px 6%;
		}
	}
}

